/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color: black;
}

/* Container styles */
.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkred;
}

/* Link styles */
a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

/* Footer styles */
p {
    margin-top: 20px;
    text-align: center;
}
